body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f2f5;
  font-family: helvetica, sans-serif;
}

.quiz-container {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  padding-top: 20px;
  width: 60%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  padding: 10px;
  background-color: coral;
  color: #f9f9f9;
  border-radius: 5px;
}

input {
  vertical-align: text-top;
  margin-left: 30px;
  margin-right: 5px;
}

.option-container {
  margin-bottom: 5px;
}

.question {
  display: block;
  font-weight: bold;
  padding: 20px 0 5px;
}

#start-btn {
  position: fixed;
  bottom: 50%;
  left: 30%;
  text-align: center;
  width: 40%;
  line-height: 10vh;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(38, 119, 44);
  background-color: #f1f2f3;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
  cursor: pointer;
}

#reset-btn {
  width: 100px;
  background-color: #ddd;
  color: #333;
}

button {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(39, 150, 39);
  color: #f9f9f9;
  border-radius: 5px;
  border: none;
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
}

span {
  display: block;
}

.hidden {
  display: none;
}

#button-container {
  display: flex;
  gap: 10px;
}
